<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="row">
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-10">
            <div class="page-header">
                <h1>Mega Documents<small>...i'm a genius</small></h1>
            </div>
            <div class="row">
                <div class="col-lg-1">&nbsp;</div>
                <div class="col-lg-10">
                    @RenderBody()
                </div>
                <div class="col-lg-1">&nbsp;</div>
            </div>
        </div>
        <div class="col-lg-1">&nbsp;</div>
    </div>

    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
