@model EDO.UI.WebUI.Models.Registration.BusinessContacts

<div class="form-group">
    <fieldset>
        <legend class="input-sm">Руководитель</legend>
        <div class="form-group">
            @Html.Label("Должность", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Position, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Фамилия", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Имя", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Отчество", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Телефон", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Мобильный телефон", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("E-Mail", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend class="input-sm">Контактное лицо</legend>
        <div class="form-group">
            @Html.Label("Должность", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactPosition, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Фамилия", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactLastName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Имя", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactFirstName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Отчество", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactSurname, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Телефон", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactPhone, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Мобильный телефон", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactMobilePhone, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("E-Mail", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.ContactEmail, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend class="input-sm">Идентификационные данные</legend>
        <div class="form-group">
            @Html.Label("Имя пользователя", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Пароль", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Подтверждение пароля", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Password2, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Кодовая фраза", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.PassPhrase, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
    </fieldset>
</div>
