@model EDO.UI.WebUI.Models.Registration.PrivateBase

<div class="form-group">
    <fieldset>
        <legend>&nbsp;</legend>
        <div class="form-group">
            @Html.Label("Фамилия", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Имя", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Отчество", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>&nbsp;</legend>
        <div class="form-group">
            @Html.Label("ИНН", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.Inn, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Телефон", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.MainPhone, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Факс", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.MainFax, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("E-Mail", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.MainEmail, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Дополнительные E-Mail", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(x => x.AdditionalEmails, new { @class = "form-control", placeholder = "" })
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>&nbsp;</legend>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(x => x.IsAccreditationStatement)
                        Заявление на аккредитацию
                        <span class="help-block">
                            ознакомиться можно <a href="~/Content/docs/etp-reglament.pdf" target="_blank">здесь</a>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(x => x.IsInvoiceStatement)
                        Открыть персональный счет для проведения операций на площадке
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</div>


