@using Microsoft.Web.Mvc
@model EDO.UI.WebUI.Models.RegistrationViewModel

@{
    var currentStep = Model.Steps[Model.CurrentStepIndex];
    Layout = "~/Views/Shared/_LayoutTwitter.cshtml";
    int i = 0;
}

<h3>Регистрация нового участника</h3>
<ol class="breadcrumb">
    @foreach (var stepTitle in Model.StepTitles)
    {
        if (i == Model.CurrentStepIndex)
        {
            <li class="active">@stepTitle</li>
        }
        else
        {
            <li><a href="#">@stepTitle</a></li>
        }

        ++i;
    }
</ol>

@using (Html.BeginForm("Index", "Registration", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        @Html.ValidationSummary()
    </div>
    @Html.Serialize("wizard", Model)

    @Html.Hidden("StepType", Model.Steps[Model.CurrentStepIndex].GetType())

    <div class="panel panel-default">
        <div class="panel-heading">@Model.StepTitles[Model.CurrentStepIndex]</div>
        <div class="panel-body">
            @Html.EditorFor(x => currentStep, null, "")
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">      

            @if (Model.CurrentStepIndex == 0 || Model.CurrentStepIndex < Model.Steps.Count - 1)
            {
                <input type="submit" value="Next" name="next" class="btn btn-default pull-right" />
            }
            else
            {
                <input type="submit" value="Finish" name="finish" class="btn btn-success pull-right" />
            }
            @if (Model.CurrentStepIndex > 0)
            {
                <input type="submit" value="Previous" name="prev" class="btn btn-default pull-right" style="margin-right: 20px;" />
            }

        </div>
    </div>
}